<div class="jumbotron">
  <h1>결재상신</h1>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="user_name">결재자:</label>
      <input type="text" class="form-control" ng-model="en" id="en">
    </div>
    <div class="form-group">
      <label for="user_age">대상업무:</label>
      <select multiple class="form-control" ng-model="task_id" id="task_id">
        <option value="100">사무지원</option>
        <option value="200">종합법률</option>
        <option value="300">인포누리</option>
        <option value="400">정보반출</option>
        <option value="500">소보로</option>
        <option value="600">통합구매</option>
      </select>
    </div>
    <div class="form-group">
      <label for="user_age">제목:</label>
      <input type="text" class="form-control" ng-model="cfm_title" id="cfm_title">
    </div>
    <div class="form-group">
      <label for="user_age">내용:</label>
      <input type="text" class="form-control" ng-model="cfm_text" id="cfm_text">
    </div>
  </div>
  <div class="col-sm-6">
    <button type="button" class="btn btn-primary" ng-click="saveConfirm()">결재 상신</button>
  </div>
</div>