<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h3 class="text-center">LOGIN</h3>
    <form name="loginForm" ng-submit="submitLogin()">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-envelope-o"></i>
          </span>
          <input id="login-en" type="text" name="en" class="form-control input-lg" placeholder="사번" ng-model="login.en" required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-asterisk"></i>
          </span>
          <input id="login-pw" type="password" name="pw" class="form-control input-lg" placeholder="Password" ng-model="login.pw" required>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block btn-shadow">Login</button>
    </form>
  </div>
</div>